.no-data-available {
    text-align: center;
}
.dataTables_empty {
	display: none;
}
  btn-toggle.btn-sm.active {
   transition: background-color 0.25s;
}
.btn-toggle.btn-sm {
   margin: 0 0.5rem;
   padding: 0;
   position: relative;
   border: none;
   height: 2rem;
   width: 4rem;
   border-radius: 2rem;
}
.btn-toggle {
   background-color:#dd4b39;
}
.btn-toggle.active {
   background-color: #29b5a8;
}
.btn-toggle.active {
   transition: background-color 0.25s;
}
.example .btn-toggle {
   top: 50%;
   transform: translateY(-50%);
}
.btn.active, .btn:active {
   background-image: none;
}
[type="reset"], [type="submit"], button, html [type="button"] {
   -webkit-appearance: button;
}
.btn-toggle.btn-sm.btn-sm.active::before {
   opacity: 0;
}
.btn-toggle.btn-sm.btn-sm::before {
   text-align: right;
}
.btn-toggle.btn-sm.btn-sm::before, .btn-toggle.btn-sm.btn-sm::after {
   line-height: -0.5rem;
   color: #fff;
   letter-spacing: 0.75px;
   left: 0.4125rem;
   width: 2.325rem;
}
.btn-toggle.btn-sm.active::before {
   opacity: 0.5;
}
.btn-toggle.btn-sm.active::before {
   opacity: 0;
}
.btn-toggle.btn-sm.btn-sm::before {
   content: 'Off';
   left: 1.5rem;
}
.btn-toggle.btn-sm::before, .btn-toggle.btn-sm::after {
   line-height: 2rem;
   width: 0.5rem;
   text-align: center;
   font-weight: 600;
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: 2px;
   position: absolute;
   bottom: 0;
   transition: opacity 0.25s;
}
.btn-toggle.btn-sm.btn-sm.active::after {
   opacity: 1;
}
.btn-toggle.btn-sm.btn-sm::after {
   text-align: left;
   opacity: 0;
}
.btn-toggle.btn-sm.active::after {
   opacity: 1;
}
.btn-toggle.btn-sm::after {
   content: 'On';
   right: -0.5rem;
   opacity: 0.5;
}
.btn-toggle.btn-sm.active > .handle {
   left: 2.2rem;
   transition: left 0.25s;
}
.btn-toggle.btn-sm > .handle {
   position: absolute;
   top: 0.22rem;
   left: 0.1875rem;
   width: 1.5rem;
   height: 1.5rem;
   border-radius: 1.5rem;
   background: #fff;
   transition: left 0.25s;
}

 .action_button{
    margin:0 3px;
 }
 table th, table td{
    text-align: center;
    vertical-align: middle;
 }
 table th{
   color: steelblue !important;
   text-transform: uppercase;
 }
 .search_buttons .btn-primary {
    color: #fff;
    padding: 6px;
    font-size: 13px;
    margin-top: 6px;
}
.searchform select.form-control{
   height: 34px;
}
pagination-controls{
   font-size:1.2rem;
}
.no_records{
   width: 100%;
   font-weight: bold;
   text-align: center;
}
.content-wrapper{
   width:100%;
   margin: 0;
}